@import '_vars';
@import 'modules/_home';
@import 'modules/_user';
@import 'modules/_menu';
@import 'modules/_reset';
@import 'modules/_about';


html, body {
    height: 100%;
    background-color: black;
}

a {
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color: grey;
}

section {
    height: 100vh;
}
