@import '_vars';
@import 'modules/_home';
@import 'modules/_user';

a {
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
