<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/master.css' >
  </head>
  <body>
     {{!-- <a href="/">Home</a>
     <a href="/">About</a>
     <a href="/">Products</a> --}}
<header>
<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <a href="/"><li>Home</li></a>
      <a href="#aboutSection"><li>About</li></a>
    </ul>
  </div>
</nav>
</header>
<section id="landingPage">
<div class="container">
    {{!-- This is really the index page. --}}
    <h1>The only one night stand you need in life.</h1>
    {{!-- triple handlebars is a shorthand for a router-view --}}
    {{!-- {{{body}}} --}}

    {{!-- <h3>I live under the router view.</h3> --}}
</div>
 {{!-- <a href="/product1">Product 1</a>
 <a href="/product2">Product 2</a> --}}
</section>
<section id="aboutSection">
  <h1>Our Product</h1>
  <a href="/product1" id="productBtn">Product 1</a>
  <a href="/product2" id="productBtn">Product 2</a>
 {{{body}}}
</section>
 

  </body>

</html>
