<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/master.css' >
  </head>
  <body>
     <a href="/">Home</a>
     <a href="/">About</a>
     <a href="/">Products</a>
    {{!-- This is really the index page. --}}
    <h1>The perfect one night stand.</h1>
    {{!-- triple handlebars is a shorthand for a router-view --}}
    {{{body}}}

    <h3>I live under the router view.</h3>
<<<<<<< HEAD
<<<<<<< HEAD
     <a href="/product1">Product 1</a>
      <a href="/product2">Product 2</a>
=======
     <a href="/product1">product 1</a>
      <a href="/product2">product 2</a>
>>>>>>> aacddd5e490623fd659425eeb05bc3507f7a7dee
=======
     <a href="/product1">product 1</a>
      <a href="/product2">product 2</a>
>>>>>>> 24d46458c611768dacbb4f7290ef4f72ee88d46b
  </body>

</html>
