<h1>Take a look at {{name}}!</h1>
<img src="/images/{{bioPic}}" alt="bio image">
{{!-- with express app you have to make sure to use a forward slash in order to point back 
to the public directory. --}}
<p>This is our fabulous{{role}}.</p>
<p>{{bio}}</p>
