{{!-- <h1>Welcome {{name}}!</h1>
<img src="/images/{{bioPic}}" alt="bio image">
{{!-- with express app you have to make sure to use a forward slash in order to point back 
to the public directory. --}}
<p>You are currently logged in as {{role}}.</p>
<p>{{bio}}</p> --}}
