body{
    background: url(/images/nightstand.jpg) no-repeat center center fixed;
    color: $text-color;
    // font-size: 14px;
    // width: 100%;
    // max-height: 100vh;
    @media screen and (max-width: 480px) {
        background: url(/images/nighttablesmall.jpg) no-repeat center center fixed;
       }
    
}

#landingPage{
    // background: url(/images/nightstand.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	position: relative;
	// display: -webkit-box;
	// display: -ms-flexbox;
    // display: flex;
    display: block;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	overflow: hidden;

}

h1 {
 font-size: 20px;
}
